<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Itinerary Email</title>
  </head>
  <body>
    <h2>Hello {{name}}! </h2>
    <p>Your NYGHT has been planned, and we're here to give you all the
      information that you need.</p>

    <p>Here's what your
      <span style="font-weight: bold;">{{title}}</span>
      itinerary looks like:</p>
    <ul>
      <li>First you'll
        <span style="font-weight: bold;">{{activity}}</span>
        <ul>
          <li>The address is:
            <span style="font-weight: bold;">{{activityAddress}}</span></li>
        </ul>
      </li>
      <li>Then you'll grab some dinner at
        <span style="font-weight: bold;">{{restaurant}}</span>
        <ul>
          <li>The address is:
            <span style="font-weight: bold;">{{restaurantAddress}}</span></li>
        </ul>
      </li>
      <li>To end your night off you'll be heading over to
        <span style="font-weight: bold;">{{dessertOrBar}}</span>
        <ul>
          <li>The address is:
            <span style="font-weight: bold;">{{dessertOrBarAddress}}</span></li>
        </ul>
      </li>
    </ul>
  </body>
</html>